<div>
  {{#if notes}}
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th class="tmm-notes-table-header" style="width: 30px;">Delete</th>
        <th class="tmm-notes-table-header">Text</th>
        <th class="tmm-notes-table-header">Duration</th>
        <th class="tmm-notes-table-header">Round</th>
        <th class="tmm-notes-table-header">Turn</th>
      </tr>
    </thead>
    <tbody>
      {{#each notes as |note|}}
      <tr>
        <td class="tmm-notes-table-entry" style="width: 30px; align: center">
          <input type="checkbox" id="note-{{@index}}" name="deleteNote.{{@index}}" style="cursor: pointer;">
        </td>
        <td class="tmm-notes-table-entry">{{note.text}}</td>
        <td class="tmm-notes-table-entry">{{note.duration}}</td>
        <td class="tmm-notes-table-entry">{{#if note.round}}{{note.round}}{{else}}-{{/if}}</td>
        <td class="tmm-notes-table-entry">{{#if note.turn}}{{note.turn}}{{else}}-{{/if}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>
